* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Heebo";
}

.navbar {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
  margin-top: 27px;
}

.menu {
  display: flex;
  gap: 33px;
  right: 60px;
}

.responsive-navbar {
  height: 40px;
  position: relative;
}

.responsive-navbar i {
  font-size: 30px;
  display: block;
  position: absolute;
  right: 15px;
  top: 10px;
  order: 999;
}

.navbar .menu a {
  color: #000;
  text-align: right;
  font-family: Heebo;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.navbar .menu li:nth-child(2) a {
  color: red;
}


.information {
  margin-top: 70px;
  margin-left: 330px;
}

.information h1 {
  width: 500px;
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.infor-1 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.year {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1;
  padding: 5px 12px;
  border-radius: 16px;
  background: pink;
  display: inline-block;
}

.infor-1 p {
  color: black;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1;
  padding: 5px 12px;
  display: inline-block;
}

.information p:nth-child(3) {
  margin-top: 10px;
  line-height: 25px;
  width: 600px;
  font-size: 1.7rem;
}

.information img {
  width: 660px;
  height: auto;
  margin-top: 20px;
}

.infor-2 h2 {
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  margin-top: 30px;
}

.infor-2 h3 {
  color: var(--Dark-Color, #21243D);
  font-family: Heebo;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  margin-top: 10px;
}

.responsive-navbar {
  display: none;
}



footer {
  margin-top: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.social-icon {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin-bottom: 26px;
}

.copyright {
  color: var(--Dark, #21243d);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}

@media screen and (max-width: 400px) {
  .information {
    margin-left: 15px;
  }


  .information h1 {
    max-width: 350px;
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .infor-1 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 27px;
  }

  .year {
    color: #fff;
    font-size: 1.3srem;
    font-weight: 900;
    padding: 5px 12px;
    border-radius: 16px;
    background: pink;
  }

  .infor-1 p {
    color: black;
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1;
    padding: 5px 12px;
    display: inline-block;
  }

  .information p:nth-child(3) {
    margin-top: 30px;
    line-height: 25px;
    width: 350px;
    font-size: 1.6rem;
  }

  .information img {
    width: 345px;
    height: auto;
    margin-top: 15px;
  }

  .infor-2 h2 {
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    margin-top: 30px;
  }

  .infor-2 h3 {
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    margin-top: 10px;
  }

  .responsive-navbar {
    display: block;
  }

  .navbar {
    display: none;
  }
}